.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 100px;
  padding: 0px 12px;
}

.app-body {
  height: 150px;
  padding: 200px;
  color: white;
  font-size: 15px;
}

.app-body h2 {
  padding-top: 20px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
